* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter Tight', san-serif;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
main {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  width: 36%;
  /* height: 100vh; */
  /* border: 1px solid black; */
  background: no-repeat center/cover url("./img/pexels-packermann-1666021.jpg");
  align-items: center; 
  justify-content: flex-end;
  text-align: center;
  color: white;
}

img {
  height: 150px;
  margin-bottom: 150px;
}

.logo {
  display: flex;
  /* position: relative; */
  /* justify-items: center; */
}
.logo span {
  margin-top: 40px;
  /* position: absolute; */
  font-size: 90px;
  font-family: "MedievalSharp";
}
.right {
  display: flex;
  flex-direction: column;
  width: 64%;
  height: 100vh;
  background-color: #F9FAFB;
  /* border: 1px solid black; */
  /* text-align: center; */
}

span {
  margin-bottom: 20px;
  font-size: 12px;
}

p {
  font-size: 22px;
  font-weight: 600;
  margin: 100px 450px 50px 80px ;
  line-height: 1.35;
  /* text-align: left; */
}

p:nth-child(2) {
  margin-top: -10px;
  margin-bottom: 50px;
}

.right > p {
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 80px;
}

.top {
  display: flex;
  /* background-color: #f9fafb; */
  flex-direction: column;
  /* align-content: space-around; */
}

.middle {
  /* margin: 100px 450px 50px 80px ; */
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  box-shadow: 10px 2px 2px #d3d3d3;
  /* padding: 40px 0 0 0; */
}

.middle > p {
  margin-top: 40px;
  margin-bottom: 30px;
  /* display: block; */
  width: 100%;
}

form {
  /* width: 80%; */
  display: flex;
  flex-wrap: wrap;
}
.form-row {
  margin-bottom: 40px;  
  margin-left: 80px;
  width: 350px;
  /* margin-top: 40px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-row label {
  /* text-align: center; */
  margin-bottom: 5px;  
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
}

.form-row > input {
  margin-left: 00px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #E5E7EB;
}

input:invalid {
  border-color: red;
}

.form-row > button {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #204231;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.bottom > p {
  width: 550px;
  font-size: 16px;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom {
  margin-top: 40px;
}
p > a {
  color: #204231;
} 














